.jumbotron {
    background-color: rgba(186, 178, 178, 0.967);
}

/* .container {
    position: fixed;
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
} */

.SignLog {
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.home-image {
    border-radius: 12px;
    margin-left: 80px;
    margin-right: 80px;
}

.products {
    background-color: #e9dfdf;
    padding: 10px;
    width: 375px;
    height: 400px;
    margin-bottom: 15px;
    margin-right: 7px;
}
